{
    "prefix": "prefix",
    "token": "token",
    "modID": "mod role id",
    "welChan": "welcome channel id",
    "mutedRole": "muted role id",
    "chanRules": "rules channel id",
    "botChan": "bot channel id"
}
